.MyYoutubeSeacrhItem {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    cursor: pointer;
}

.MyYoutubeSeacrhItem__preview {
    position: relative;
    box-sizing: border-box;
    width: 160px;
    height: 100%;
    margin-right: 10px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.MyYoutubeSeacrhItem__info {
    position: relative;
    box-sizing: border-box;
    width: calc(100% - 180px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.MyYoutubeSeacrhItem__info-title {
    margin: 0 0 10px 0;
    font-size: 14px;
}

.MyYoutubeSeacrhItem__info-description {
    font-size: 11px;
    color: darkslategray;
    text-align: left;
}
