.MyInput {
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.MyInput__input {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 24px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    outline-width: 0;
    font-size: 16px;
    color: var(--main-text-color);
}

.MyInput__input::placeholder {
    color: var(--second-text-color);
    font-style: italic;
}

.MyInput__input:focus {
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

.MyInput__input.isTouched.isInvalid {
    border-bottom-color: red;
}

.MyInput__error {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 16px;
    text-align: left;
}

.MyInput__error-text {
    font-style: italic;
    font-size: 12px;
    line-height: 16px;
    color: red;
}
