.MyYoutubeSearch {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.MyYoutubeSearch__search-block {
    position: relative;
    box-sizing: border-box;
    width: 480px;
}

.MyYoutubeSearch__search {
    width: 100%;
}

.MyYoutubeSearch__search-results {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: auto;
}

.MyYoutubeSearch__search-item {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}

.MyYoutubeSearch__player-block {
    position: relative;
    box-sizing: border-box;
    width: calc(100% - 600px);
    padding-top: 40px;
}

.MyYoutubeSearch__player-wrapper {
    position: aabsolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
